.navbar .nav-link:hover {
  color: tomato;
  transition: 0.5s;
}
.navbar .nav-link {
  font-weight: bold;
}
.hero-section .row {
  height: 100vh;
  max-height: 700px;
}
.feedback-section img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.progress-bar {
  background-color: #2563eb;
}

footer a:hover {
  text-decoration: underline;
}
.card img {
  height: 250px;
}

/* about page start  */
.client-section img {
  height: 300px;
  width: 100%;
}
/* about page end  */
